<div class="bg-img"></div>
<app-header></app-header>

<form class="form-card" [formGroup]="edit" (ngSubmit)="onedit()" >
<div class="m-4">
    <div class="row gx-3 gy-2 align-items-center">
       
      <div class="col-sm-4">
        <label class="visually" for="specificSizeInputName">Name</label>
        <input type="text" class="form-control" formControlName="name"  placeholder="name" readonly>
      </div>
      
      <div class="col-sm-4">edit
        <label class="visually" for="specificSizeInputName">Phone</label>
        <input type="text" class="form-control" formControlName="phone" maxlength="10" placeholder="phone" maxlength="10">
      </div>
      <div class="col-sm-4">
        <label class="visually" for="specificSizeInputName">Name</label>
        <input type="text" class="form-control" formControlName="email"  placeholder="email*">
       
      </div>
      
   
      
      
      <div class="col-sm-4">
        <label class="visually" for="specificSizeInputName">Number of peoples</label>
        <input type="number" class="form-control" formControlName="noperson"  placeholder="Number of peoples" >
      </div>
      <div class="col-sm-4">
        <label class="visually" for="specificSizeInputName">Trip start at</label>
        <input type="text" class="form-control" formControlName="trips"  placeholder="Trip start at" >
        
         
      </div>
      
    
     
      <div class="col-sm-4">
        <label class="visually" for="specificSizeSelect">Type of Tour</label>
        <select class="form-select" id="address" formControlName="toplace">
          <option selected>Type of tour</option>
          <option value="Wildlife">Wildlife</option>
          <option value="Trekking">Trekking</option>
          <option value="Heritage">Heritage</option>
           <option value="Pilgrimage">Pilgrimage</option>
            <option value="Mountains">Mountains</option>
             <option value="Beach tour">Beach tour</option>
             
        </select>
      </div>
    
      
      <div class="col-sm-4">
        <label class="visually" for="specificSizeSelect">Type of Transport</label>
        <select class="form-select"  formControlName="tovehicle">
          <option selected>Type of Transport</option>
          <option value="Bus">Bus</option>
          <option value="Train">Train</option>
          <option value="Flight">Flight</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="visually" for="specificSizeSelect">Place of Visit</label>
        <select class="form-select" formControlName="povisit">
          <option selected>Place of visit</option>
          <option value="Delhi">Delhi</option>
          <option value="Himalaya">Himalaya</option>
          <option value="Kerla">Kerla</option>
           <option value="Ooty">Ooty</option>
            <option value="Kodaikanal">Kodaikanal</option>
             <option value="Kailash">Kailash</option>
              <option value="Yercaud">Yercaud</option>
        </select>
      </div>
 
      <div class="col-sm-4">
        <label class="visually" for="specificSizeSelect">Package</label>
        <select class="form-select"  formControlName="packagee">
          <option selected>select package per person</option>
          <option value="3000">3000</option>
          <option value="5000">5000</option>
          <option value="8000">8000</option>
           <option value="10000">10000</option>
            </select>
      </div>
      <div class="col-sm-3">
        <label for="start">Start date:</label>
    
 
           <input type="text"  class="form-control addpartner-input" formControlName="start"
           autocomplete="off" [bsConfig]="{showWeekNumbers:false,dateInputFormat:'DD-MM-YYYY'}" bsDatepicker 
           (ngModelChange)="getDateInRequiredFormat(this.edit.value.start,'startDate')" placeholder="Date*" readonly
           >
   
      </div>
       <div class="col-sm-3">
        <label for="start">End date:</label>
        <input type="text"  class="form-control addpartner-input" formControlName="end"
        autocomplete="off" [bsConfig]="{showWeekNumbers:false,dateInputFormat:'DD-MM-YYYY'}" bsDatepicker 
        (ngModelChange)="getDateInRequiredFormat(this.edit.value.end,'endDate')" placeholder="end*" readonly
       >
      
      
      </div>
     
     
      <div class="row" style="padding-top: 10px;">
        <div class="col-lg-12 text-center">
          <button type="submit"  class="btn btn-primary">Submit</button>
          <button type="button"  class="btn btn-dark" style="margin-left: 5px;" routerLink="/grid">Back</button>
          
        </div>
      </div>
       
    </div>
    </div>
    
</form> 
    

