<template>
    <div class="container-fluid intimation-page">
        <div class="dashboard-content-holder">
            <div class="dashboard-content-head"  id="dashboard-content-head">
                <h4 class=" pl-2">Intimation</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item "><a href="#" >Dashboard</a></li>
                        <li class="breadcrumb-item "><a href="#" >Claim Management</a>dadasd</li>
                        <li class="breadcrumb-item active"><a href="#">Intimation</a></li>
                    </ol>
                </nav>
            </div>
            <div class="intimation-menutab-section" id="form-content-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 d-flex">
                        <div class="dashboard-card-container d-flex">
                            <div class="intimation-menutab flex-fill">
                            </div>
                        </div>
                    </div>   
                    <div class="col-xl-9 col-lg-9 col-md-12 d-flex pl-lg-0 container-main ">
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>