<div class="options">
  <div class="option" appCarousel1 style="background-image: url(https://i.pinimg.com/736x/0c/e4/bd/0ce4bdc8c57ba5454a8d96772a2eb031.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="info">
        <div class="train"><a href="https://www.tourmyindia.com/states/tamilnadu/">TamilNadu</a></div>
        <div class="hup">Explore Tamilnadu with RS-5000</div>
      </div>
      </div>
    </div>
  
  <div class="option" appCarousel1 style="background-image: url(https://images.unsplash.com/photo-1576487248805-cf45f6bcc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="fa fa-plane"></i>
      </div>
      <div class="info">
        <div class="main"><a href="https://www.tourmyindia.com/states/rajasthan/6nights-7days-golden-triangle-tour.html">TAJ MAHAL</a> </div>
        <div class="sub">Explore North INDIA with RS-15000</div>
      </div>
      </div>
    </div>
  
  <!-- <div class="option" appCarousel1 style="background-image: url(https://media.istockphoto.com/photos/panoramic-59-mpix-xxxxl-size-view-of-mount-ama-dablam-in-himalayas-picture-id1223738331?b=1&k=20&m=1223738331&s=170667a&w=0&h=ABcZYIcB7WqBjNbq5QkmJ5Ax3y4mWlU4e4nGhcJVrbE=);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="fa fa-car"></i>
      </div>
      <div class="info">
        <div class="main"><a href="https://www.tourmyindia.com/packages-tour-india/hill-stations/himachal-hill-stations-tours.html">HIMALAYA</a></div>
        <div class="sub">Largest Mountain Range with RS-10000</div>
      </div>
      </div>
    </div> -->
  
  <div class="option" appCarousel1 style="background-image: url(https://i.pinimg.com/originals/e5/9a/83/e59a836f0983ee74e10e18c1968ef728.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="fa fa-bomb"></i>
      </div>
      <div class="info">
        <div class="main"><a href="https://www.tourmyindia.com/states/tamilnadu/">MADURAI</a></div>
        <div class="sub">Explore Madurai with RS-2000</div>
      </div>
      </div>
    </div>
  
  <div class="option" appCarousel1 style="background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTdoliWwizOLW_hnI0d6-xcWtbFPwaBjgybEAY98y3kkkA1GngwKWO1TqHr2SekjTWEIuKdgXGkRzhb1iZbWt1JSQ);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="fa fa-bolt"></i>
      </div>
      <div class="info">
        <div class="main"><a href="https://www.tourmyindia.com/destination_india/eastzone.html">MEHALAYA</a></div>
        <div class="sub">Explore Hill Range with RS-7000</div>
      </div>
      </div>
    </div>
    <!-- <div class="option" appCarousel1 style="background-image: url(https://www.tourismnewslive.com/wp-content/uploads/2018/04/houseboat-ftrd.jpg);">
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i class="fa fa-ship"></i>
        </div>
        <div class="info">
          <div class="main"><a href="https://www.tourmyindia.com/packages-tour-india/kerala-travel-packages/">KERALA</a></div>
          <div class="sub">Explore Kerala with RS-5000</div>
        </div>
        </div>
      </div> -->
      <!-- <div class="option" appCarousel1 style="background-image: url(https://www.holidify.com/images/bgImages/COORG.jpg);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-camera"></i>
          </div>
          <div class="info">
            <div class="main"><a href="https://www.tourmyindia.com/states/karnataka/">COORG</a></div>
            <div class="sub">Explore Croog with RS-3000</div>
          </div>
          </div>
        </div> -->
        
          
  
</div>
