
<div class="bg-img">
    <div class="bgPosition" [class.bg]="bgvariable"></div>
</div>
<div [class.headerfixed]="headervariable">
    <app-header></app-header>
</div>
<!-- <header > -->
    <!-- <div class="container"> -->
<!-- <div class="logo"> -->
    <!-- <img src="" alt="logo"> -->
   
<!-- </div> -->
    <!-- </div> -->
    
<!-- </header> -->


<section class="banner">
    <div class="container">
        
        <div class="banner-content">
            <h1>Turris</h1>
            <p>Travel is the movement of people between distant geographical locations. 
                Travel can be done by foot, bicycle, automobile, train, boat, bus, 
                airplane, ship or other means, with or without luggage, and can be one 
                way or round trip.Travel can also include relatively short stays 
                between successive movements, as in the case of tourism.
      </p>
      
      <ul>
        <li>
            <h2>Agency</h2>
            <p>Tours</p>

        </li>
        <li>
            <h2>Peoples</h2>
            <p>100000 Users</p>
            
        </li>
        <li>
            <h2>Started</h2>
            <p>11 November 2020</p>
            
        </li>
      </ul>
      
        </div>
    </div>
   
</section>
<section class="gallery">
    <div class="container">
        <div class="gallery-container">
          
            <div class="center">
                <h2 class="best"><div class="d-flex justify-content-center">BEST PACKAGES</div></h2>
                <app-carousel1></app-carousel1>
                </div>
                
        </div>
        
    </div>
</section>

  <app-footer></app-footer>